body{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background-image:url("../images/hogwarts.jpg");
}

h3{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

form{
	background-color: transparent;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

